<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/_nlogs/internal-nlog.txt">
  <variable name="logDirectory" value="${basedir}/_nlogs/"/>
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="common" fileName="${logDirectory}/common-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="app" fileName="${logDirectory}/app-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="all" fileName="${logDirectory}/all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="allConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
  </targets>
  <rules>
	  <!-- common logs-->
	  <logger name="Common.Logs.*" minlevel="Trace" writeTo="common"/>
	  <!-- app logs-->
	  <logger name="LogCenter.*" minlevel="Info" writeTo="app"/>
	  <!--all logs, including from Microsoft-->
	  <logger name="*" minlevel="Trace" writeTo="allConsole, all" />
  </rules>
</nlog>